APP_NAME=
APP_ENV=
APP_PORT=
APP_URL=

DB_USER=
DB_PASS=
DB_NAME=
DB_HOST=
DB_PORT=

GRPC_PORT=

AXIOS_TIMEOUT=
PROJECT_SERVICE_URL=

HASH_SECRET=
AUTH_MODE=
AUTH_TOKEN_TIMEOUT=
AUTH_REFRESH_TOKEN_TIMEOUT=

RABBITMQ_URL=
RABBITMQ_EXCHANGE=

ELASTICSEARCH_HOST=
ELASTICSEARCH_API_KEY=

REDIS_URL=

FILESYSTEM=
S3_REGION=
S3_ACCESS=
S3_SECRET=
S3_ENDPOINT=
S3_BUCKET=

SMTP_USER=
SMTP_PASS=

SENTRY_DSN=
