{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-organize-imports"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
